@tailwind base;
@tailwind components;
@tailwind utilities;

.ini-profile {
  position: absolute;
  left: 1450px;
  top: 13px;
  bottom: 15px;
}
body {
  height: 100vh;
  margin: auto;
}
/* .navbar {
  width: 100%;
  height: 60px;
  background-color: coral;
} */

.nav-container {
  height: 100vh;
  width: inherit;
  /* position: relative; */
}

.dashboard {
  position: absolute;
  top: 13px;
  bottom: 15px;
  left: 15px;
}

.profile {
  position: absolute;
  top: 13px;
  bottom: 15px;
  left: 130px;
}

.logout {
  position: absolute;
  top: 6px;
  bottom: 18px;
  left: 250px;
}

.side-bar {
  height: 100vh;
  width: 9%;
  background-color: coral;
}

.other-part {
  /* float: right; */
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  padding-top: 50px;

  width: 91%;
  display: flex;
  /*align-items: center;
  justify-content: center; */
}

.dashboard-container {
  display: flex;
  height: 100vh;
  /* overflow: auto; */
}
.side-bar-container {
  height: 100vh;
  position: relative;
}

.products {
  display: block;
  margin-top: 40px;
}

.addProducts-form {
  height: auto;
  margin-top: auto;
  width: 70%;
  background-color: coral;
  border: 3px solid white;
  border-radius: 25px;
  padding: 50px;
}

.addPromo-form {
  height: auto;
  width: 70%;
  background-color: coral;
  border: 3px solid white;
  border-radius: 25px;
  padding: 50px;
}

.product-card:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.productcontainer {
  /* height: 400px; */
  display: flex;
  width: 1500px;
  justify-content: center;
  align-items: center;
}

.productbox {
  height: 800px;
  width: 80%;
  margin: 5%;
  border: 30px solid coral;
  border-radius: 60px;
  display: flex;
}

.prodinfo {
  float: right;
  padding: 1%;
  /* background-color: pink; */
  width: 80%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.prod-box {
  margin: 10px;
}

.prod-title {
  font-size: 20px;
  font-weight: bold;
}

.prod-bhitra {
  font-size: 100%;
}

.quantity-input {
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-box {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 5%;
  margin: 10px;
}

.button-box {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  margin: 5%;
  gap: 50px;
}

.last-min {
  background-color: coral;
}
.button-box2 {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  margin: 5%;
  gap: 50px;
}

.buy-button {
  width: 140px;
  height: 150%;
  color: black;
  font-weight: bold;
  font-size: 125%;
}

/* .prod-image {
  height: 100%;
} */

.cart-icon {
  position: absolute;
  left: 1500px;
}

.cart-nav {
  width: 100%;
  background-color: coral;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  font-weight: bold;
  font-size: 45px;
}

.cart-nav-button {
  width: 160px;
  height: 40px;
  font-size: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart-item {
  height: auto;
  width: 80%;
  border-width: 5px;
  border-color: coral;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
}

.cart-items {
}

Navlink {
  display: block;
}

.modal-container {
  position: fixed;
  right: 1%; /* Adjust as needed */
  bottom: 2%; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal {
  height: 100%;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  background-color: white;
  border-color: coral;
  border-width: 2px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.msg-navbar {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.msg-container {
  /* background-color: bl; */
  height: 90%;
  margin-top: 5px;
}

.seller-name {
  height: 10%;
  background-color: coral;
  border-radius: 8px;
  color: black;
  font-size: x-large;
  padding: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.chat-area {
  margin-top: 2%;
  height: 85%;
  background-color: white;
  padding: 2%;
  overflow-y: scroll;
  /* to scrroll */
}

/* .chat-area div:nth-child(even) {
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-area div:nth-child(odd) {
  align-items: flex-start;
  justify-content: flex-start;
} */
.chat-component-seller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-component-buyer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.buyer-chat {
  margin-top: 2%;
  width: 50%;
  border-radius: 5px;
  background-color: coral;
  height: auto;
  padding: 2%;
}

.seller-chat {
  margin-top: 2%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(218, 217, 217);
  height: auto;
  padding: 2%;
}

.typing-box {
  background-color: coral;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.typing {
  width: 95%;
  height: 85%;
  margin: 2%;
  border-radius: 5px;
  padding: 2%;
}

.msg-send-button {
  background-color: yellow;
  color: black;
  width: 12%;
  margin: 1%;
  border-radius: 5px;
}

.my-product-edit {
  background-color: coral;
  color: black;
  font-weight: bold;
  height: 60%;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 3px;
}

.banner-carousel {
  height: 600px;
}

.category-title {
  text-align: center;
  padding-top: 2%;
  color: coral;
  font-size: 40px;
  font-weight: bold;
}

.review-input {
  border: 2px solid black;
  height: 60px;
  width: 400px;
  overflow-y: scroll;
}

.rating-input {
  border: 2px solid black;
}

.review-container {
  height: 60px;
  width: 500px;
  overflow-y: scroll;
  margin-top: 2%;
  border: 2px solid black;
  border-radius: 10px;
}

.review-messages {
  background-color: rgb(253, 253, 143);
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.nav-searchBar {
  background-color: white;
  height: 50px;
  width: 500px;
  position: relative;
  left: 650px;
  z-index: 2;
  /* esko matlab 2 layer samma layer gara deu, jaba tyo search garda suggestion box khulcha, tyo banner mahi overlap bhayera khulcha, z-index nadeko bhaye overlap garna sakdaina thyo banner lai */

  padding: 5px;
}

.searchbar-input {
  /* position: absolute;
  left: 10px;
  top: 10px; */
  border: 2px solid black;
  height: 40px;
  width: 400px;
  border-radius: 4px;
  padding: 8px;
}

.search-button {
  background-color: yellow;
  color: black;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  margin-left: 6px;
  font-weight: 500;
}

.suggestion-dropdown {
  height: 350px;
  background-color: white;
  width: 480px;
  position: absolute;
  top: 52px;
  left: 305px;
  margin: 1px;
  z-index: 2;
  /* overflow-y: scroll; */
}

.suggestion-dropdown2 {
  height: 350px;
  background-color: white;
  width: 480px;
  position: absolute;
  top: 52px;
  left: 258px;
  margin: 1px;
  z-index: 2;
  /* overflow-y: scroll; */
}

.suggestion-item {
  background-color: white;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: 400;
}

.suggestion-item:hover {
  background-color: coral;
  color: white;
  opacity: 0.9;
  cursor: pointer;
}

.chat-container {
  height: 100vh;
  width: 29%;
  border: 5px solid pink;
  border-top: 0px solid white;

  border-left: 0px solid white;
  display: inline-block;
}
.chat-bhitra-other-part {
  border: 5px solid pink;
  border-top: 0px solid white;

  border-right: 0px solid white;

  width: 73%;
  height: 100vh;

  /* margin: 5px; */
  /* float: right; */
}

.chat-container-45 {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seller-name-chat {
  height: 10%;
  background-color: coral;
  border-radius: 8px;
  color: black;
  font-size: x-large;
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.msg-container-chat {
  background-color: white;
  height: 86%;
  border-radius: 8px;
}

.chat-area-chat {
  margin-top: 2%;
  height: 93%;
  background-color: white;
  padding: 2%;
  overflow-y: scroll;
}

.chat-component-buyer-chat {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.buyer-chat-chat {
  margin-top: 2%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(255 127 80 / 44%);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 1%;
}

.chat-component-seller-chat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.seller-chat-chat {
  margin-top: 2%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(232, 230, 230);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 1%;
}

.typing-box-chat {
  background-color: coral;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.typing-chat {
  width: 90%;
  height: 70%;
  margin: 2%;
  border-radius: 5px;
  padding: 2%;
}

.msg-send-button-chat {
  background-color: blueviolet;
  color: white;
  width: 12%;
  height: 70%;
  margin: 1%;
  border-radius: 5px;
}

.inside-chat-container {
  height: 100%;
}
.title-chats {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  color: coral;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  padding: 4%;
}

.chat-name-list {
  height: 100%;
}

.each-chatter-name {
  height: 10%;
  overflow: auto;

  color: purple;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  padding: 4%;
  margin: 3%;
  border: 2px solid purple;
  border-radius: 5px;
}

.each-chatter-name:hover {
  cursor: pointer;
  background-color: rgba(251, 173, 145, 0.6);
}

.notif-icon {
  left: 1400px;
  top: 13px;
  bottom: 15px;
  position: absolute;
  font-weight: 1000;
}

.notif-icon:hover {
  cursor: pointer;
}

.Notification-container {
  height: 500px;
  border: 5px solid coral;
  border-top: none;
  width: 500px;
  position: absolute;
  top: 60px;
  left: 1000px;
  z-index: 2;
  background-color: white;
  overflow-y: scroll;
}

.header-Noti {
  width: 100%;
  height: 5%;
  position: relative;
  /* display: flex; */
}

.x-close-noti {
  position: absolute;
  right: 5px;
  top: 13px;

  background-color: purple;
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  color: white;
  /* border-radius: 20px; */
  cursor: pointer;
}

.header-Noti {
  color: coral;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

.notifs-container {
  margin-top: 40px;
}

.each-noti {
  padding: 8px;
  background-color: pink;
  height: 70px;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid red;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
